/* Estilos gerais */
body {
  font-family:ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace !important;
  color: #e42feb;
  margin: 0;
  padding: 75px;
  background-color: #070707;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 50px;
  background-color: #180320;
  border-radius: 30px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

h2 {
  margin-top: 0;
  position: relative;
  animation: moveLeft 2s ease-in-out forwards;
}
@keyframes moveLeft {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

form {
  margin-bottom: 20px;
}

/* Estilos para inputs e labels */
label {
  display: block;
  margin-bottom: 5px;
  
  
}

input[type="text"],
input[type="number"],
input[type="email"],
select {
  width: calc(100% - 22px); /* Considerando o padding */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #e42feb;
  color: #ffffff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 35px;
}

button:hover {
  background-color: #4d0064;
}

/* Estilo para o campo do número do cartão */
#cardNumberInput {
  display: none;
}
